version: '3'
services:
  gloo:
    image: quay.io/solo-io/gloo-ee:1.5.11
    environment:
    - START_STATS_SERVER=true
    - GLOO_LICENSE_KEY=$LICENSE_KEY
    working_dir: /
    command:
    - "--dir=/data/"
    volumes:
    - ./data:/data/
    ports:
    - "9977:9977"
    - "9091:9091"
    restart: always

  gateway:
    image: "${GLOO_REPO:-quay.io/solo-io}/gateway:${GLOO_VERSION:-1.5.11}"
    working_dir: /
    command:
    - "--dir=/data/"
    volumes:
    - ./data:/data/
    restart: always

  gateway-proxy:
    image: quay.io/solo-io/gloo-ee-envoy-wrapper:1.5.11
    entrypoint: ["envoy"]
    command: ["-c", "/config/envoy.yaml", "--disable-hot-restart"]
    volumes:
    - ./data/envoy-config.yaml:/config/envoy.yaml:ro
    - ./data/tls.crt:/opt/gloo/tls.crt:ro
    - ./data/tls.key:/opt/gloo/tls.key:ro
    ports:
    - "8080:8080"
    - "8443:8443"
    - "19000:19000"
    restart: always

  extauth:
    image: quay.io/solo-io/extauth-ee:1.5.11
    entrypoint: ["/bin/sh"]
    command: ["-c", "sleep 10 && /usr/local/bin/extauth"]
    environment:
    - SERVICE_NAME=ext-auth
    - GLOO_ADDRESS=gloo:9977
    - SERVER_PORT=8083
    - GLOO_LICENSE_KEY=$LICENSE_KEY
    - START_STATS_SERVER=true
    ports:
    - "8083:8083"
    - "9092:9091"

  ratelimit:
    image: quay.io/solo-io/rate-limit-ee:1.5.11
    environment:
    - GLOO_ADDRESS=gloo:9977
    - REDIS_URL=redis:6379
    - REDIS_SOCKET_TYPE=tcp
    - GLOO_LICENSE_KEY=$LICENSE_KEY
    ports:
    - "18081:18081"

  redis:
    image: docker.io/redis:5
    environment:
    - MASTER=true
    ports:
    - "6379:6379"